
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #7581a1;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
  h1  {
    color: #b1aa7c;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
.main {
    background: transparent;
    width: 100%;
    height: 100%;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(img/06A76WOA4Q3F1533234450537.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.back-box {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150%;

}
.backImg1 {
    background-image: url('img/backAll.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 87.2%;
}
.backImg2 {
    background-image: url('img/backHord.jpg');
    background-repeat: no-repeat;
    width: 50%;
    height: 89%;
}
.health-box {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 40px;
}
.health{
    display: flex;
    width: 40%;
    height: 40px; 
    background-color: #fff;
    border: 2px solid #454640;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    position: relative;
}
.health p {
    position: absolute;
    margin: 0;
    bottom: 16%;
    left: 30%;
    color: black;
}
.color-bar {
    height: 40px;
    background-color: #4d0906;
    border-radius: 2px;
    color: #fff;
}
.fighter-box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 60%;
    height: 400px;
}
.fighter {
    margin-top: 40px;
    width: 39%;
    height: 80%;
    position: relative;
}
.fighter span {
    position: absolute;
    top: 90px;
    opacity: 0;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}
.item-1 {
    background-image: url(img/Variann.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.item-1 span {
    left: 30px;
}
.item-2 {
    background-image: url(img/sylvana1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
.item-2 span {
    right: -30px;
}
.endGameBack {
    animation: endGameBack 3s ease-in-out;
}
.drop {
    animation: drop 1.2s ease-in-out;
}
.animation1 {
    animation: attack 1s ease-in-out;
}
.animation {
    animation: attack2 1s ease-in-out;
}
@keyframes attack {
    50% {
        transform: translate(280px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes attack2 {
    50% {
        transform: translate(-280px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes drop {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -100px;
    }
}
@keyframes dropUp {
    0% {
        top:-1220px;
    }
    100% {
        top:0px;
    }
}
@keyframes dropUpMenu {
    0% {
        top:0px;
        
    }
    100% {
        top:-1220px;
        opacity: 0;
    }
}
@keyframes salto {
    100% {
        transform: translateY(70px) rotate(-250deg);
    }
}
@keyframes endGameBack {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.95;
    }
}
.btn {
    width: 150px;
    height: 150px;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    background-image: url(img/btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    outline: none;
}
.user-frame {
    display: flex;
    justify-content: center;
   
    align-items: center;
 
}

#overlay {
    background:black;
    display:block;
    position: fixed;
    width: 1150%;
    height: 1000%;
    left: -1800px;
    top: -1500px;
    z-index:1000;
    opacity: 0.95;
}
.start-form {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 700px;
    height: 600px;
    z-index: 1001;
    background: linear-gradient(to right, #0c253b 0%, #3a5d61 100%);
    border: solid 20px #111b1c;
    border-radius: 10px;
    text-align: center;
    color: #e0bc5f;
    animation: dropUp 1s ease-in-out;
    background-image: url('img/backimg1.jpg');
    background-position: center;
}
.start-form > p {
    position: absolute;
    bottom: 100px;
    padding-left: 70px;
    width: 160px;
    font-size: 18px;
    font-weight: 600;
}
.start {
    height: 90px;
    width: 250px;
    background-color:#1e1f55;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px #1e1f55;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.5;
    margin-top: 500px;
    margin-left: 25px;
}
.start:hover {
    opacity: 1;
}
.start > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0bc5f;
    font-weight: bold;
    font-size: 50px;
}
.end {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 700px;
    height: 600px;
    z-index: 1001;
    background: linear-gradient(to right, #0c253b 0%, #3a5d61 100%);
    border: solid 20px #111b1c;
    border-radius: 10px;
    text-align: center;
    color: #e0bc5f;
    animation: dropUp 1s ease-in-out;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
}
.pressEnd {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    
}
.pressEnd > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0bc5f;
    font-weight: bold;
    font-size: 50px;
}